* {
  overflow-y: hidden;
  overflow-x: hidden;
}
.App-header {
  text-align: center;
}
.navigation {
  font-size: 1em;
  align-self: flex-start;
  text-decoration: none;
  align-items: center;
}

.logo {
  width: 30%;
  height: 30%;
  /* background-color: green; */
}

.logo-nav {
  width: 10%;
  height: 10%;
  text-align: center;
  margin: 1em auto;
}

.navigation-links {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: green;
}

#banner-image {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.banner-container {
  height: 50%;
  width: 70%;
  text-align: center;
  margin: 1em auto;
  display: flex;
}

.front-page-container {
  height: 100vh;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  background-color: green;
  text-align: center;
}

#reading-now-title {
  text-align: left;
  font-family: "mistoregular";
  margin-bottom: 2em;
  margin-left: 1em;
}

#reading-now-container {
  margin-top: 1.5em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#banner-image {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.front-page-row {
  height: 100%;
}

.app-container {
  height: 100vh;
}

.app-container-2 {
  height: 100vh;
}

#root {
  height: 100vh;
}
